<html>

<head>
  <% include partials/head.ejs %>
</head>

<body>

  <% include partials/navbar.ejs %>


<br>
<br>
<br>
  <div class="container">
    <div class="row">

      <div class='col-md-5 offset-md-4'>

        <div class="shadow p-3 mb-5 bg-white rounded">
          <!-- Title -->
          <div class="card">
            <div class="card-header">
               <h1> <%= data.trackName %></h1>
            </div>
            <br>
            <div style="text-align: center;">
                <img id ="scoreImg" href = "/archive/image?_id=<%= data._id%>" style="max-height: 400px; max-width: 300px;" class="card-img-top" src='data:image/png;base64, <%= data.image %>'  alt="Card image cap">


            </div>

            <div class="card-body">
              <h2>  Written by <%= data.artistName %></h2>
              <div style="text-align:center;">
              <p> <%= data.tempo %> bpm</p>
            </div>
            <div style="margin: 0 auto; display: table;">
              <audio controls>
                <source src="data:audio/ogg;base64,<%=data.midi%>"/>
              </audio>
            </div>
              <div id="sheetmusic"></div><br>
              <div class='row'>
                <div style="margin: 0 auto;">
                  <button type="button" id='mxlviewer' onclick ="location.href = '/archive/sheetmusic?_id=<%= data._id%>';" class="btn btn_material_style border-secondary">View the full score</button>
                </div>
              </div>
              <p style="margin-bottom:10%;"> </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <% include partials/message.ejs %>

</body>

<script>
  $('.fa').hover(
    (e) => { $(e.target).addClass('fa-spin'); },
    (e) => { $(e.target).removeClass('fa-spin');}
  )
</script>

</html>
