
<html>

<% include partials/navbar.ejs %>

<head>
  <% include partials/head.ejs %>
</head>

<body>

  <p style="margin-bottom:10%;"> </p>

  <div class="container">
    <div class="row">


      <div class='col-md-5 offset-md-4'>

        <div class="shadow p-3 mb-5 bg-white rounded">

          <!-- Title -->
          <h3> <%= user.name %> </h3>

          <!-- User Info -->
          <form>
            <div class="input-group mb-7">
              <div class="input-group-prepend">
                <span class="input-group-text" id="email">Email</span>
              </div>
              <input type="text" class="form-control" placeholder="<%= user.email %>" aria-describedby="email">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="permissions">Permissions</span>
              </div>
              <input type="text" class="form-control" placeholder="<%= user.permissions %>" aria-describedby="permissions">
            </div>


          </form>
          <!-- <h2> <%= user.permissions %> </h2>
          <h2> <%= user.username %> </h2> -->


          <% include partials/message.ejs %>

          <!-- Request Admin Permissions -->
          <button > Request Admin </button>

          <!-- Change Password -->

        </div>
      </div>
    </div>
  </div>

</body>
