

<html>

<head>
<% include partials/head.ejs %>

<script>
  var image = new Image();
</script>

</head>

<body>
<% include partials/navbar.ejs %>

<div class="container">


    <h4> Search Archive </h4>
    <form action='/archive/select'>
      artistName <input type='text' name='artistName'><br>
      trackName <input type='text' name='trackName'><br>
      key <input type='text' name='key'><br>
      tempo <input type='text' name='tempo'><br>
      <input type='submit'>
    </form>
    <br>
  <hgroup class="mb20">
		<h1>Search Results</h1>
		<h2 class="lead"><strong class="text-danger"><%=data.length%></strong> results were found for your search </h2>
	</hgroup>
  <br>
  <div class="result">

  <% for (result in data) { %>
      <a href='/archive/archive-entry?_id=<%= data[result].id%>'>
        <table class="table table-filter fixed">

          <tr id="row">
          <col width="50%"/>
          <col width="30%"/>
          <col width="20%"/>
            <td>
              Artist: <%=data[result].artistName %>
            </td>
            <td>
              Track: <%=data[result].trackName %>
            </td>
            <td id="image<%=result%>">
            </td>

            <script>

              cell = document.getElementById("image<%=result%>");
              image = new Image();

              image.src = 'data:image/png;base64,<%=data[result].image%>';
              ratio = Math.min(100 / image.width, 100 / image.height);
              image.width = image.width*ratio;
              image.height = image.height*ratio;

              cell.appendChild(image);

            </script>
            </tr>
        </table>
        </a>

  <% } %>
  </div>
</div>
</body>
</html>
