

<html>

<head>
<% include partials/head.ejs %>
<link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">

</head>

<body>
<% include partials/navbar.ejs %>

<div class="container">


    <!-- Search Bar -->
    <br>
    <div class="row">
      <div class="col-md-12">
        <form action='/archive/search'>
          <div class="input-group">
            <input name="search" class="form-control border-secondary " type="text" placeholder="Search">
            <a class="btn btn-outline-secondary" type='submit'><i class="fa fa-search"></i></a>
          </div>
        </form><br><br>
          </div>
      </div>

      <!-- Advanced Search Options -->
      <div class='row'>
        <div class='offset-md-5'>
          <button type="button" id='advsearch_button' class="btn btn_material_style">Advanced Search Options</button>
        </div>
        <div class='col-md-6 offset-md-3'>
          <% include partials/advanced-search.ejs %>
        </div>
      </div>

    <br>
  <hgroup class="mb20">
		<h1>Search Results</h1>
		<h2 class="lead"><strong class="text-danger"><%=data.length%></strong> results were found for your search </h2>
	</hgroup>
  <br>
  <div class="result">

  <% for (result in data) { %>
      <a href='/archive/archive-entry?_id=<%= data[result].id%>'>
        <table class="table table-filter fixed">

          <tr id="row">
          <col width="50%"/>
          <col width="30%"/>
          <col width="20%"/>
            <td>
              Artist: <%=data[result].artistName %>
            </td>
            <td>
              Track: <%=data[result].trackName %>
            </td>
            <td id="image<%=result%>">
            </td>

            <script>

              cell = document.getElementById("image<%=result%>");
              image = new Image();

              image.src = 'data:image/png;base64,<%=data[result].image%>';
              ratio = Math.min(100 / image.width, 100 / image.height);
              image.width = image.width*ratio;
              image.height = image.height*ratio;

              cell.appendChild(image);

            </script>
            </tr>
        </table>
        </a>

  <% } %>
  </div>
</div>
</body>
</html>
