<!DOCTYPE html>
<html>

<head>
  <% include partials/head.ejs %>
</head>

<body>

  <% include partials/navbar.ejs %>


  <br><br><br><br>
  <div class="container">

    <div class='row'>
      <div class='col-lg-6 offset-lg-3'>
        <div class='page-header'><h1><b>Administrative Page</b></h1></div>
      </div>
    </div><br>

    <div class="row">

      <!-- Upload Document -->
      <div class='col-md-4 '>
        <div class="shadow p-3 mb-5 bg-white rounded">
          <!-- Title -->
          <h3> Upload Score </h3>

          <form action='/archive/insert' method='POST' id="email" enctype="multipart/form-data">
            <input type='text' class="form-control" placeholder="Artist name" name='artistName' required><br>
            <input type='text' class="form-control" placeholder="Track Name" name='trackName' required><br>
            <input type='text' class="form-control" placeholder="Key" name='key'><br>
            <input type='text' class="form-control" placeholder="Tempo" name='tempo'><br>
              Image of Score <input type='file' class='form-control' name='file' required><br>
              Midi or MusicXML File <input type='file' class='form-control' name='file' required><br>
            <button type="submit" class="btn btn-success">Upload</button>
          </form>
        </div>
      </div>

      <!-- Edit Database (Edit & Delete) -->
      <div class='col-md-8 '>
        <div class="shadow p-3 mb-5 bg-white rounded">

          <!-- Title -->
          <h3> Edit Music Archive </h3>

          <!--Database Viewer -->
          <div style='height:300px; overflow:scroll;'>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope='col'>#</th>
                  <th scope="col">ID</th>
                  <th scope="col">Artist</th>
                  <th scope="col">Track</th>
                  <th scope="col">Tempo</th>
                  <th scope="col">Key</th>
                </tr>
              </thead>
              <tbody>
                <% for (i=0; i<db.length; i++) { %>
                  <tr>
                    <th scope="row"><%= i %></th>
                    <td class='id'><%= db[i]._id %> </td>
                    <td class='artistName'><%= db[i].artistName %></td>
                    <td class='trackName'><%= db[i].trackName %></td>
                    <td class='tempo'><%= db[i].tempo %></td>
                    <td class='key'><%= db[i].key %></td>
                  </tr>
                <% } %>
              </tbody>
            </table>
          </div>
          <hr>


          <!-- Tool Bar -->
          <div class='row'>

            <!-- Refine Table Content -->
            <div class='col-md-6 border-right' >
              <br><h4> Refine Table Content </h4>
              <form action='/archive/admin'>


                <div class="form-group row">
                  <label for="artistName" class="col-2 col-form-label">ID</label>
                  <div class="col-10">
                    <input class="form-control" type="text"  name='_id'>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="artistName" class="col-2 col-form-label">Artist</label>
                  <div class="col-10">
                    <input class="form-control" type="text" name='artistName'>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="trackname" class="col-2 col-form-label">Track</label>
                  <div class="col-10">
                    <input class="form-control" type="text"  name='trackName' >
                  </div>
                </div>


                <div class="form-group row">
                  <label for="file" class="col-2 col-form-label">Image of Score</label>
                  <div class="col-10">
                    <input type='file' class='form-control' name='file' >
                  </div>
                </div>

                <div class="form-group row">
                  <label for="file" class="col-2 col-form-label">Midi or MusicXML File</label>
                  <div class="col-10">
                    <input type='file' class='form-control' name='file' required><br>                  </div>
                </div>

                <div class="form-group row">
                  <label for="tempo" class="col-2 col-form-label">Tempo</label>
                  <div class="col-10">
                    <input class="form-control" type="text" name='tempo' >
                  </div>
                </div>

                <div class="form-group row">
                  <label for="key" class="col-2 col-form-label">Key</label>
                  <div class="col-10">
                    <input class="form-control" type="text" name='key' >
                  </div>
                </div>

                <button  type='submit' class='btn btn-success'> Submit </button>

              </form>
            </div>

            <!-- Edit Entry -->
            <div class='col-md-6'>
              <br><h4> Edit Entry </h4>
              <form action='/archive/update' method='POST' id='edits'>

                <div class="form-group row">
                  <label for="artistName" class="col-2 col-form-label">ID</label>
                  <div class="col-10">
                    <input class="form-control" type="text"  name='_id' id="id" readonly>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="artistName" class="col-2 col-form-label">Artist</label>
                  <div class="col-10">
                    <input class="form-control" type="text" name='artistName' id="artistName">
                  </div>
                </div>

                <div class="form-group row">
                  <label for="trackname" class="col-2 col-form-label">Track</label>
                  <div class="col-10">
                    <input class="form-control" type="text"  name='trackName' id="trackName">
                  </div>
                </div>

                <div class="form-group row">
                  <label for="tempo" class="col-2 col-form-label">Tempo</label>
                  <div class="col-10">
                    <input class="form-control" type="text" name='tempo' id="tempo">
                  </div>
                </div>

                <div class="form-group row">
                  <label for="key" class="col-2 col-form-label">Key</label>
                  <div class="col-10">
                    <input class="form-control" type="text" name='key' id="key">
                  </div>
                </div>

              </form>

              <!-- Delete Entry -->
              <div class='row'>
                <div class='col-md-6'>
                  <button form='edits' type='submit' class='btn btn-success float-md-right'> Submit Edits </button>
                </div>
                <div class='col-md-6'>
                  <form action='/archive/remove' method='POST'>
                    <input type='hidden' name='_id' id='rmid'>
                    <button type='submit' class='btn btn-danger float-lg-left' formaction='/archive/remove'> Delete Entry </button>
                  </form>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $("tr").click(function(e) {
    row = $(e.target).closest('tr')
    $('#id').val(row.children('.id').text())
    $('#artistName').val(row.children('.artistName').text())
    $('#trackName').val(row.children('.trackName').text())
    $('#tempo').val(row.children('.tempo').text())
    $('#key').val(row.children('.key').text())
    $('#rmid').val(row.children('.id').text())


  });
</script>
<% include partials/message.ejs %>



</body>
